<div class="header">
  <!-- Topbar -->
  <div class="topbar">
    <div class="container">
      <!-- Topbar Navigation -->
      <ul class="loginbar pull-right">
        <li><a href="signup.html">Register</a></li>  
        <li class="topbar-devider"></li>   
        <li><a href="/login.html">Login</a></li>   
      </ul>
      <!-- End Topbar Navigation -->
    </div>
  </div>
  <!-- End Topbar -->

  <!-- Navbar -->
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="fa fa-bars"></span>
        </button>
        <!-- 
        <a class="navbar-brand" href="/index.html">
          <img id="logo-header" src="/images/logo.png" alt="Logo">
        </a>
        -->
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <!-- Home (add class active)-->
          <li>
            <a href="/index.html">
              Home
            </a>
          </li>
          <!-- End Home -->

          <!-- Sites -->
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
              Sites
            </a>
            <ul class="dropdown-menu">

              <li><a href="/sites/tiger.html">Tiger Mountain</a></li>
              
              <li><a href="/sites/blanchard.html">Mt. Blanchard</a></li>

              <li><a href="/sites/chelan.html">Chelan Butte</a></li>
              
              <!-- <li><a href="/sites/baldy.html">Baldy Butte</a></li> -->
              
              <li><a href="/sites/saddle.html">Saddle Mountain</a></li>
             
              <!-- <li><a href="/sites/jupiter.html">Mt. Jupiter</a></li> -->
             
              <!-- End Sub Level Menu -->
            </ul>
          </li>
          <!-- End Features -->

          <!-- Features -->
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
              League
            </a>
            <ul class="dropdown-menu">

              <li><a href="/league/submit.html">Submit Flight</a></li>

              <li><a href="/league/leaderboard.html">Leaderboard</a></li>
              
              <li><a href="/league/about.html">Upcoming Events</a></li>

              <li><a href="/league/rules.html">Rules</a></li>
              
              <li><a href="/league/about.html">FAQ</a></li>
             
              <!-- End Sub Level Menu -->
            </ul>
          </li>
          <!-- End Features -->


          <!-- Features -->
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
              Tag
            </a>
            <ul class="dropdown-menu">

              <li><a href="/tag/submit.html">Submit Flight</a></li>

              <li><a href="/tag/leaderboard.html">Leaderboard</a></li>

              <li><a href="/tag/rules.html">Rules</a></li>
              
              <li><a href="/tag/about.html">FAQ</a></li>
             
              <!-- End Sub Level Menu -->
            </ul>
          </li>
          <!-- End Features -->

          <!-- Tools -->
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
              Tools
            </a>
            <ul class="dropdown-menu">
              
              <li><a href="http://www.atmos.washington.edu/mm5rt/rt/soundings_d3.cgi?GFS+current_gfs+">MM5</a><li>

              <li><a href="http://xcfind.paraglide.us/">XC Find</a></li>

              <li><a href="http://xcskies.com/">XC Skies</a></li>
             
              <li><a href="https://www.windyty.com/?surface,wind,now,47.511,-122.187,4">WindyTy</a></li>
              <!-- End Sub Level Menu -->
            </ul>
          </li>
          <!-- End Tools -->

          <!-- Blog -->
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
              News
            </a>
            <ul class="dropdown-menu">
              <li><a href="blog_page.html">Article 1</a></li>
            </ul>
          </li>
          <!-- End Blog -->

          <!-- Search Block -->
          <li>
            <i class="search fa fa-search search-btn"></i>
            <div class="search-open">
              <div class="input-group animated fadeInDown">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                  <button class="btn-u" type="button">Go</button>
                </span>
              </div>
            </div>  
          </li>
          <!-- End Search Block -->
        </ul>
      </div><!--/navbar-collapse-->
    </div>  
  </div>      
  <!-- End Navbar -->
</div>
<!--=== End Header ===-->  