<div class="big-image" >
  <img src="/images/blanchard.jpg" alt="" />

  <span>
    Mt. Blanchard
  </span>
</div>

<div class="container content">
  <div class="row">
    <div class="col-md-6">
      <div class="headline"><h3>Site Info</h3></div>
      <h3>Launch</h4>
      Elevation:  1,252'<br/>
      Coordinates:  48ยบ36'34"N  122ยบ25'34"W<br/>
      Wind Direction:  South to West<br/> 
      <h3>LZ</h3>
      Elevation:  10'<br/>
      GPS Coordinates:  48ยบ35'34"N  122ยบ25'15"W<br/>
    </div>
    <div class="col-md-6">
      <!-- Basic Map -->
      <div class="headline"><h3>Location</h3></div>
      <div id="map" class="map margin-bottom-50"></div>
      <!-- End Basic Map -->
      <button class="btn btn-default btn-block" style="margin-top: -40px">Show Waypoints</button>
    </div>
  </div>
</div>