<div class="big-image" >
  <img src="/images/chelan.jpg" alt="" />

  <span>
    Chelan Butte
  </span>
</div>


<div class="container content">
  <div class="row">
    <div class="col-md-6">
      <div class="headline"><h3>Site Info</h3></div>
      
      <h3>Launch</h4>
      Elevation:  3,300'<br/>
      Coordinates:  47.8056806, -120.0377139<br/>
      Wind Direction:  West to North<br/> 
      
      <h3>Soccer Field LZ</h3>
      Elevation: 600'<br/>
      Coordinates: 47.7982306, -119.9855500<br/>
      
      <h3>Lone Pine LZ</h3>
      Elevation:  600'<br/>
      GPS Coordinates:  47.8273361, -120.0506306<br/>
    </div>
    <div class="col-md-6">
      <!-- Basic Map -->
      <div class="headline"><h3>Location</h3></div>
      <div id="map" class="map margin-bottom-50"></div>
      <!-- End Basic Map -->
      <button class="btn btn-default btn-block" style="margin-top: -40px">Show Waypoints</button>
    </div>
  </div>
</div>
