<div class="container content">
  <div class="row">
    <div class="col-md-12">
      <div class="headline"><h3>IGC File Upload</h3></div>
        <form id="uploadForm"
              enctype="multipart/form-data"
              action="/upload/igc"
              method="post">
          <span class="btn btn-default btn-file">
            Browse<input type="file" id="igcFile" name="igcFile" />
          </span>
          <span id="status" style="margin-left: 10px"></span>
        </form>
      </div>
    </div>
  </div>
</div>