<div class="big-image" >
  <img src="/images/saddle.jpg" alt="" />

  <span>
    Saddle Mountain
  </span>
</div>


<div class="container content">
  <div class="row">
    <div class="col-md-6">
      <div class="headline"><h3>Site Info</h3></div>
      
      <h3>Launch</h4>
      Elevation:  2,300'<br/>
      Coordinates:  46.8175000, -119.8750000<br/>
      Wind Direction:  North<br/> 
      
      <h3>LZ</h3>
      Elevation: 750'<br/>
      Coordinates: 46.8291667, -119.8725000<br/>
      
    </div>
    <div class="col-md-6">
      <!-- Basic Map -->
      <div class="headline"><h3>Location</h3></div>
      <div id="map" class="map margin-bottom-50"></div>
      <!-- End Basic Map -->
      <button class="btn btn-default btn-block" style="margin-top: -40px">Show Waypoints</button>
    </div>
  </div>
</div>
