{{!< nofooter}}

<!--=== Content Part ===-->
<div class="container content">
  <div id="userCreated" class="row hidden">
    <div class="col-xs-12 text-center">
      <h2 class="margin-bottom-20">Account Created!</h2>
      <i class="icon-custom rounded-x icon-color-blue fa fa-thumbs-up margin-bottom-20"></i><br/><br/>
      <a href="/login.html" type="button" class="btn btn-u">Login to your account</a>
    </div>
  </div>
  <div id="signupForm" class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

        <div class="reg-header">
          <h2>Create a new account</h2>
          <p>Already Signed Up? Click <a href="login.html" class="color-green">Sign In</a> to login your account.</p>          
        </div>

        <label>First Name <span class="color-red">*</span></label>
        <input id="first" type="text" class="form-control margin-bottom-20">
        <div id="firstWarning" class="warning-text margin-bottom-20"></div>
         
        <label>Last Name <span class="color-red">*</span></label>
        <input id="last" type="text" class="form-control margin-bottom-20">
        <div id="lastWarning" class="warning-text margin-bottom-20"></div>
         
        <label>Email Address <span class="color-red">*</span></label>
        <input id="email" type="text" class="form-control margin-bottom-20">
        <div id="emailWarning" class="warning-text margin-bottom-20"></div>

        <label>Mobile Phone Number</label>
        <input id="phone" type="text" class="form-control margin-bottom-20">
        <div id="phoneWarning" class="warning-text margin-bottom-20"></div>

        <label>Mobile Phone Carrier</label>
        <select id="carrier" class="margin-bottom-20" placeholder="Select your wireless carrier...">
          <option selected></option>
          <option value="att">AT&T</option>
          <option value="verizon">Verizon</option>
          <option value="sprint">Sprint</option>
          <option value="tmobile">T-Mobile</option>
        </select>

        <div class="row">
          <div class="col-sm-6">
            <label>Password <span class="color-red">*</span></label>
            <input id="password" type="password" class="form-control margin-bottom-20">
            <div id="passwordWarning" class="warning-text margin-bottom-20"></div>
          </div>
          <div class="col-sm-6">
            <label>Confirm Password <span class="color-red">*</span></label>
            <input id="verifyPassword" type="password" class="form-control margin-bottom-20">
            <div id="verifyPasswordWarning" class="warning-text margin-bottom-20"></div>
          </div>
        </div>

        <label>I am a (pilot/driver) <span class="color-red">*</span></label>
        <select id="type" class="margin-bottom-20" placeholder="Please select a user type..."></select>

        <div id="pilot" class="headline hidden">
          <h3 class="margin-bottom-20">Pilot Information</h3>

          <div style="margin-top: 20px;">
            <label>USHPA Pilot Number <span class="color-red">*</span></label>
            <input id='ushpaNumber' type="text" class="form-control margin-bottom-20">
            <div id="ushpaNumberWarning" class="warning-text margin-bottom-20"></div>
           
            <label>USHPA Rating <span class="color-red">*</span></label>
            <select id="rating" class="margin-bottom-20" placeholder="Select your pilot rating...">
              <option selected></option>
              <option value="1">P-1 (student)</option>
              <option value="2">P-2 (beginner)</option>
              <option value="3">P-3 (intermediate)</option>
              <option value="4">P-4 (advanced)</option>
              <option value="5">P-5 (expert)</option>
            </select>
            
            <label>inReach or Spot URL (required for league events) <span class="color-red">*</span></label>
            <input id="gpsUrl" type="text" class="form-control margin-bottom-20">
            <div id="gpsUrlWarning" class="warning-text margin-bottom-20"></div>
            
            <h3 style="margin-bottom: 20px">Emergency Contact</h3>
            <div style="margin-left: 20px;">
              <label>Name <span class="color-red">*</span></label>
              <input id="emergencyName" type="text" class="form-control margin-bottom-20">
              <div id="emergencyNameWarning" class="warning-text margin-bottom-20"></div>
            
              <label>Phone Number <span class="color-red">*</span></label>
              <input id="emergencyPhone" type="text" class="form-control margin-bottom-20">
              <div id="emergencyPhoneWarning" class="warning-text margin-bottom-20"></div>
            
              <label>Relation <span class="color-red">*</span></label>
              <input id="emergencyRelation" type="text" class="form-control margin-bottom-20">
              <div id="emergencyRelationWarning" class="warning-text margin-bottom-20"></div>
            </div>
            
            <label>Blood Type</label>
            <input id="bloodType" type="text" class="form-control margin-bottom-20">
            
            <label>Health Insurance info</label>
            <input id="insurance" type="text" class="form-control margin-bottom-20">
          </div>
        </div>
        
        <div id="driver" class="headline hidden">
          <h3 class="margin-bottom-20">Driver Information</h3>
          
          <div style="margin-top: 20px;">
            <div class="form-inline">
              <input id="hasLicense" type="checkbox" >
              <label class="margin-bottom-20" style="margin-left: 5px;">I have a valid US or Canadian drivers license</label>
            </div>

            <div class="form-inline">
              <input id="hasSmartphone" type="checkbox" >
              <label class="margin-bottom-20"  style="margin-left: 5px;">I have a smartphone with a dataplan</label>
            </div>
           
            <div class="form-inline">
              <input id="hasVehicle" type="checkbox" >
              <label class="margin-bottom-20"  style="margin-left: 5px;">I have a vehicle</label>
            </div>
            
            <div id="vehicleInfo" class="hidden">
              <h4>Vehicle Information</h4>
              <div class="row" style="margin-top: 20px;">
                <div class="col-sm-4">
                  <label>Year <span class="color-red">*</span></label>
                  <input id="year" type="text" class="form-control margin-bottom-20">
                  <div id="yearWarning" class="warning-text margin-bottom-20"></div>
                </div>
                <div class="col-sm-4">
                  <label>Make <span class="color-red">*</span></label>
                  <input id="make" type="text" class="form-control margin-bottom-20">
                  <div id="makeWarning" class="warning-text margin-bottom-20"></div>
                </div>
                <div class="col-sm-4">
                  <label>Model <span class="color-red">*</span></label>
                  <input id="model" type="text" class="form-control margin-bottom-20">
                  <div id="modelWarning" class="warning-text margin-bottom-20"></div>
                </div>
              </div>
            </div>


          </div>
        </div>


        <div class="row">
          <div class="col-xs-12">
              <label class="checkbox" >
                <input id="terms-checkbox" type="checkbox" class="margin-bottom-20"> 
                I agree to the <a href="page_terms.html" class="color-green">Terms and Conditions</a>
              </label>            

          </div>
          <div class="col-xs-12">
            <div class="form-inline">
              <button id="submit-btn" disabled class="btn btn-block btn-md btn-primary">Register</button> 
            </div>           
          </div>
        </div>
        
    </div>
  </div>
</div><!--/container-->		
<!--=== End Content Part ===-->